<h1><%= @team.team_name %> の詳細</h1>

<p>チーム名: <%= @team.team_name %></p>

<h2>登録選手</h2>
<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @athletes.each do |athlete| %>
      <tr>
        <td><%= athlete.user.email %></td>
        <td><%= athlete.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
