<h1 class="text-2xl font-extrabold text-cyan-800 mb-3 text-center">メンバー招待</h1>
<div class="flex items-center justify-center" data-controller="generate-url">
  <div class="w-full max-w-4xl bg-white rounded-lg shadow-lg p-4">
    <p class="text-gray-600 mb-8 leading-relaxed">
      チームに所属する選手を登録しましょう。<br>
      下記の招待URLを選手に送信し、選手自身に選手登録をしてもらいましょう。
    </p>
<% puts "@show_modal: #{@show_modal}, @modal_type: #{@modal_type}" %>
    <!-- 招待リンクセクション -->
    <div class="bg-gray-100 p-6 rounded-xl mb-8 shadow-inner">
      <p class="text-gray-600 mb-4">
      <span class="font-bold text-lg text-blue-600 bg-blue-50 px-2 py-1 rounded-md">
      <%= @team.team_name %>
      </span>
      の招待URLです。指導者の皆さんは下記の「URLを発行」をクリックして招待URLを発行してください。
      </p>
      <button
        data-action="click->generate-url#generate"
        class="btn btn-primary w-full"
      >
        招待URLを発行
      </button>

      <!-- 招待URLを表示する場所 -->
      <div data-generate-url-target="urlContainer" class="hidden bg-blue-50 mt-6 p-4 rounded-xl shadow-md">
        <p class="text-gray-800 font-medium">以下のURLを選手に共有してください(※チームメンバー以外に共有しないでください。)</p>
        <a data-generate-url-target="link" class="text-blue-600 underline break-all"></a>
      </div>
    </div>

    <p class="text-gray-600">
      選手が登録申請をしたら、メンバー管理ページで選手登録の申請を「承認」してください。
    </p>
  </div>
</div>
