<div class="p-8 bg-gray-50 min-h-screen flex items-center justify-center" data-controller="generate-url">
  <div class="w-full max-w-4xl bg-white rounded-lg shadow-lg p-8">
    <h1 class="text-2xl font-bold mb-6 text-gray-800">招待URLを発行する</h1>
    <p class="text-gray-600 mb-8 leading-relaxed">
      チームに所属する選手を登録しましょう。<br>
      下記の招待URLを選手に送信し、選手自身に基本情報を入力してもらいましょう。
    </p>

    <!-- 招待リンクセクション -->
    <div class="bg-gray-100 p-6 rounded-xl mb-8 shadow-inner">
      <p class="text-gray-600 mb-4">
      <span class="font-bold text-lg text-blue-600 bg-blue-50 px-2 py-1 rounded-md">
      <%= @team.team_name %>
      </span>
      の招待リンクです。選手の皆さんは下記のURLをクリックして招待URLを発行してくだしい。
      </p>
      <button
        data-action="click->generate-url#generate"
        class="btn btn-primary w-full"
      >
        URLを生成
      </button>

      <!-- 招待URLを表示する場所 -->
      <div data-generate-url-target="urlContainer" class="hidden bg-blue-50 mt-6 p-4 rounded-xl shadow-md">
        <p class="text-gray-800 font-medium">以下のリンクを選手に共有してください:</p>
        <a data-generate-url-target="link" class="text-blue-600 underline break-all"></a>
      </div>
    </div>

    <p class="text-gray-600">
      選手が申請したら、登録状況一覧ページにて申請状況が表示されますので、そちらより「承認」をしてください。
    </p>
  </div>
</div>
