<!-- 新規登録 -->
<div x-show="open" 
     x-transition.opacity
     class="fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center z-50"
     x-cloak>
  <!-- モーダル本体 -->
  <div x-show="open" 
       x-transition.scale
       class="bg-white rounded-xl shadow-2xl p-8 w-96 max-w-md transform transition-all">
    
    <!-- アイコンとタイトル -->
    <div class="flex flex-col items-center">
      <h2 class="text-lg text-gray-800 font-bold text-center">新規登録ガイドをご覧になりますか？</h2>
    </div>

    <!-- ボタンコンテナ -->
    <div class="flex flex-col space-y-4 mt-6">
      <!-- 操作ガイドを見る -->
      <a href="https://youtu.be/QTo8oXM1pi4?si=bw3o3fZz6gUdsjDz"
         target="_blank"
         class="w-full bg-blue-600 text-white py-3 rounded-lg shadow-md hover:bg-blue-700 transition text-center font-semibold">
        ガイドを見る
      </a>

      <!-- 新規登録へ進む -->
      <a href="<%= new_user_registration_path %>"
         class="w-full bg-gray-500 text-white py-3 rounded-lg shadow-md hover:bg-gray-600 transition text-center font-semibold">
        新規登録へ進む
      </a>
    </div>

    <!-- 閉じるボタン -->
    <button @click="open = false"
            class="mt-6 w-full bg-red-500 text-white py-3 rounded-lg shadow-md hover:bg-red-600 transition font-semibold">
      閉じる
    </button>
  </div>
</div>

<!-- データ入力・閲覧ガイド -->
<div x-show="menu" 
     x-transition.opacity
     class="fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center z-50"
     x-cloak>
  <!-- モーダル本体 -->
  <div x-show="menu" 
       x-transition.scale
       class="bg-white rounded-xl shadow-2xl p-8 w-96 max-w-md transform transition-all">
    
    <!-- アイコンとタイトル -->
    <div class="flex flex-col items-center">
      <h2 class="text-lg text-gray-800 font-bold text-center">操作ガイドをご覧になりますか？</h2>
    </div>

    <!-- ボタンコンテナ -->
    <div class="flex flex-col space-y-4 mt-6">
      <!-- 操作ガイドを見る -->
      <a href="https://youtu.be/SA1FAdTz7HU?si=_P77LuYiPWK14wWP"
         target="_blank"
         class="w-full bg-blue-600 text-white py-3 rounded-lg shadow-md hover:bg-blue-700 transition text-center font-semibold">
        コーチの方はこちら
      </a>

      <a href="https://youtu.be/Ms2sfDpcoyA?si=EFFMA8a2FJCoPHw_"
         target="_blank"
         class="w-full bg-blue-600 text-white py-3 rounded-lg shadow-md hover:bg-blue-700 transition text-center font-semibold">
        アスリートの方はこちら
      </a>
      <!-- 新規登録へ進む -->
      <a href="<%= self_records_path %>"
         class="w-full bg-gray-500 text-white py-3 rounded-lg shadow-md hover:bg-gray-600 transition text-center font-semibold">
        メニューページへ進む
      </a>
    </div>

    <!-- 閉じるボタン -->
    <button @click="menu = false"
            class="mt-6 w-full bg-red-500 text-white py-3 rounded-lg shadow-md hover:bg-red-600 transition font-semibold">
      閉じる
    </button>
  </div>
</div>

<!-- 選手招待ガイド -->
<div x-show="invite" 
     x-transition.opacity
     class="fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center z-50"
     x-cloak>
  <!-- モーダル本体 -->
  <div x-show="invite" 
       x-transition.scale
       class="bg-white rounded-xl shadow-2xl p-8 w-96 max-w-md transform transition-all">
    
    <!-- アイコンとタイトル -->
    <div class="flex flex-col items-center">
      <h2 class="text-lg text-gray-800 font-bold text-center">ガイドをご覧になりますか？</h2>
    </div>

    <!-- ボタンコンテナ -->
    <div class="flex flex-col space-y-4 mt-6">
      <!-- 操作ガイドを見る -->
      <a href="https://youtu.be/j6nfLalzFNQ?si=Lb4bbgEy5wHtlnCf"
         target="_blank"
         class="w-full bg-blue-600 text-white py-3 rounded-lg shadow-md hover:bg-blue-700 transition text-center font-semibold">
        ガイドを見る
      </a>
      <!-- 新規登録へ進む -->
      <a href="<%= team_invitations_path %>"
         class="w-full bg-gray-500 text-white py-3 rounded-lg shadow-md hover:bg-gray-600 transition text-center font-semibold">
        メンバー招待ページへ進む
      </a>
    </div>

    <!-- 閉じるボタン -->
    <button @click="invite = false"
            class="mt-6 w-full bg-red-500 text-white py-3 rounded-lg shadow-md hover:bg-red-600 transition font-semibold">
      閉じる
    </button>
  </div>
</div>
