<aside id="sidebar" class="hidden lg:block w-64 bg-sky-900 text-white">
  <nav class="p-4">
    <ul>
      <li class="menu-title">
        <span class="text-cyan-300">メインメニュー</span>
      </li>
      <li class="mt-2">
        <%= link_to "自己記録", self_records_path, class: "block px-4 py-2 rounded hover:bg-sky-700" %>
      </li>
      <li>
        <%= link_to "コンディション", conditions_path, class: "block px-4 py-2 rounded hover:bg-sky-700" %>
      </li>
      <li>
        <%= link_to "フィジカル", bodies_path, class: "block px-4 py-2 rounded hover:bg-sky-700" %>
      </li>
      <li>
        <%= link_to "トレーニング", training_menus_path, class: "block px-4 py-2 rounded hover:bg-sky-700" %>
      </li>
    </ul>
  </nav>
</aside>
