<div class="flex h-screen bg-gray-100">
  <!-- サイドバー -->
  <aside class="w-64 bg-sky-900 text-white">
    <nav class="mt-4">
      <ul class="menu p-4 text-base-content">
        <li class="menu-title">
          <span class="text-cyan-300">メインメニュー</span>
        </li>
        <li>
          <a href="#" class="text-cyan-300 hover:bg-sky-700 rounded-md">マイページ</a>
        </li>
        <li>
          <a href="#" class="text-cyan-300 hover:bg-sky-700 rounded-md">自己記録</a>
        </li>
        <li>
          <a href="#" class="text-cyan-300 hover:bg-sky-700 rounded-md">フィジカル</a>
        </li>
        <li>
          <a href="#" class="text-cyan-300 hover:bg-sky-700 rounded-md">トレーニング</a>
        </li>
        <li>
          <a href="#" class="text-cyan-300 hover:bg-sky-700 rounded-md">データ入力</a>
        </li>
        <li>
          <a href="#" class="text-cyan-300 hover:bg-sky-700 rounded-md">連絡事項</a>
        </li>
      </ul>
    </nav>
  </aside>
</div>
