<p><%= @resource.full_name %> 様</p>

<p>アカウントの登録を完了するには、以下のリンクをクリックしてください。</p>

<p><%= link_to 'アカウントを確認する', user_confirmation_url(@resource, confirmation_token: @resource.confirmation_token) %></p>

<p>このリンクの有効期限は24時間です。</p>
