<p>こんにちは、<%= @resource.email %> さん</p>

<p>以下のリンクをクリックして、新しいパスワードを設定してください。</p>

<p><%= link_to 'パスワードをリセットする', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このリンクは一定時間で無効になりますので、お早めに手続きをお願いいたします。</p>

<p>SWIM FIRST</p>
